{% extends 'base.html.twig' %}

{% block title %}Esport Events{% endblock %}

{% block body %}

    <a class="btn btn-secondary" href="{{ path('addScrim') }}">Create your Scrim</a>

    {% for upcomingScrim in upcomingScrims %}
        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="scrimLogo">
            <div class="card-body">
                <h5 class="card-title">{{ upcomingScrim.name }}</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="{{ path('scrimDetail', {'id': upcomingScrim.id}) }}" class="btn btn-primary">Details</a>
            </div>
        </div>
    {% endfor %}

{% endblock %}
